{
    "smithy": "2.0",
    "shapes": {
        "aws.api#ArnNamespace": {
            "type": "string",
            "traits": {
                "smithy.api#documentation": "A string representing a service's ARN namespace.",
                "smithy.api#pattern": "^[a-z0-9.\\-]{1,63}$",
                "smithy.api#private": {}
            }
        },
        "aws.api#CloudFormationName": {
            "type": "string",
            "traits": {
                "smithy.api#documentation": "A string representing a CloudFormation service name.",
                "smithy.api#pattern": "^[A-Z][A-Za-z0-9]+$",
                "smithy.api#private": {}
            }
        },
        "aws.api#ResourceDelimiter": {
            "type": "enum",
            "members": {
                "FORWARD_SLASH": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#documentation": "The `/` character.",
                        "smithy.api#enumValue": "/"
                    }
                },
                "COLON": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#documentation": "The `:` character.",
                        "smithy.api#enumValue": ":"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "The possible delimiters for an ARN resource segment.",
                "smithy.api#private": {}
            }
        },
        "aws.api#TagOperationReference": {
            "type": "string",
            "traits": {
                "smithy.api#documentation": "Points to an operation designated for a tagging APi",
                "smithy.api#idRef": {
                    "failWhenMissing": true,
                    "selector": "resource > operation"
                }
            }
        },
        "aws.api#TaggableApiConfig": {
            "type": "structure",
            "members": {
                "tagApi": {
                    "target": "aws.api#TagOperationReference",
                    "traits": {
                        "smithy.api#documentation": "The `tagApi` property is a string value that references a non-instance\nor create operation that creates or updates tags on the resource.",
                        "smithy.api#required": {}
                    }
                },
                "untagApi": {
                    "target": "aws.api#TagOperationReference",
                    "traits": {
                        "smithy.api#documentation": "The `untagApi` property is a string value that references a non-instance\noperation that removes tags on the resource.",
                        "smithy.api#required": {}
                    }
                },
                "listTagsApi": {
                    "target": "aws.api#TagOperationReference",
                    "traits": {
                        "smithy.api#documentation": "The `listTagsApi` property is a string value that references a non-\ninstance operation which gets the current tags on the resource.",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Structure representing the configuration of resource specific tagging APIs"
            }
        },
        "aws.api#arn": {
            "type": "structure",
            "members": {
                "template": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "Defines the ARN template. The provided string contains URI-template\nstyle label placeholders that contain the name of one of the identifiers\ndefined in the `identifiers` property of the resource. These labels can\nbe substituted at runtime with the actual identifiers of the resource.\nEvery identifier name of the resource MUST have corresponding label of\nthe same name. Note that percent-encoding **is not** performed on these\nplaceholder values; they are to be replaced literally. For relative ARN\ntemplates that have not set `absolute` to `true`, the template string\ncontains only the resource part of the ARN (for example,\n`foo/{MyResourceId}`). Relative ARNs MUST NOT start with \"/\".",
                        "smithy.api#required": {}
                    }
                },
                "absolute": {
                    "target": "smithy.api#Boolean",
                    "traits": {
                        "smithy.api#documentation": "Set to true to indicate that the ARN template contains a fully-formed\nARN that does not need to be merged with the service. This type of ARN\nMUST be used when the identifier of a resource is an ARN or is based on\nthe ARN identifier of a parent resource."
                    }
                },
                "noRegion": {
                    "target": "smithy.api#Boolean",
                    "traits": {
                        "smithy.api#documentation": "Set to true to specify that the ARN does not contain a region. If not\nset, or if set to false, the resolved ARN will contain a placeholder\nfor the region. This can only be set to true if `absolute` is not set\nor is false."
                    }
                },
                "noAccount": {
                    "target": "smithy.api#Boolean",
                    "traits": {
                        "smithy.api#documentation": "Set to true to specify that the ARN does not contain an account ID. If\nnot set, or if set to false, the resolved ARN will contain a placeholder\nfor the customer account ID. This can only be set to true if absolute\nis not set or is false."
                    }
                },
                "resourceDelimiter": {
                    "target": "aws.api#ResourceDelimiter",
                    "traits": {
                        "smithy.api#documentation": "Defines which character is used to delimit sections of the resource\nsegment of an ARN. This can only be set if absolute is set to true."
                    }
                },
                "reusable": {
                    "target": "smithy.api#Boolean",
                    "traits": {
                        "smithy.api#documentation": "Set to true to indicate that an ARN may be reused for different\ninstances of a resource."
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Specifies an ARN template for the resource.",
                "smithy.api#externalDocumentation": {
                    "Reference": "https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html"
                },
                "smithy.api#trait": {
                    "selector": "resource"
                }
            }
        },
        "aws.api#arnReference": {
            "type": "structure",
            "members": {
                "type": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "The AWS CloudFormation resource type contained in the ARN."
                    }
                },
                "resource": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "An absolute shape ID that references the Smithy resource type contained\nin the ARN (e.g., `com.foo#SomeResource`). The targeted resource is not\nrequired to be found in the model, allowing for external shapes to be\nreferenced without needing to take on an additional dependency. If the\nshape is found in the model, it MUST target a resource shape, and the\nresource MUST be found within the closure of the referenced service\nshape."
                    }
                },
                "service": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "The Smithy service absolute shape ID that is referenced by the ARN. The\ntargeted service is not required to be found in the model, allowing for\nexternal shapes to be referenced without needing to take on an\nadditional dependency."
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Marks a string as containing an ARN.",
                "smithy.api#trait": {
                    "selector": "string"
                }
            }
        },
        "aws.api#clientDiscoveredEndpoint": {
            "type": "structure",
            "members": {
                "required": {
                    "target": "smithy.api#Boolean",
                    "traits": {
                        "smithy.api#documentation": "This field denotes whether or not this operation requires the use of a\nspecific endpoint. If this field is false, the standard regional\nendpoint for a service can handle this request. The client will start\nsending requests to the standard regional endpoint while working to\ndiscover a more specific endpoint.",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Indicates that the target operation should use the client's endpoint\ndiscovery logic.",
                "smithy.api#trait": {
                    "selector": "operation"
                }
            }
        },
        "aws.api#clientEndpointDiscovery": {
            "type": "structure",
            "members": {
                "operation": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "Indicates the operation that clients should use to discover endpoints\nfor the service.",
                        "smithy.api#idRef": {
                            "failWhenMissing": true,
                            "selector": "operation"
                        },
                        "smithy.api#required": {}
                    }
                },
                "error": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "Indicates the error that tells clients that the endpoint they are using\nis no longer valid. This error MUST be bound to any operation bound to\nthe service which is marked with the aws.api#clientDiscoveredEndpoint\ntrait.",
                        "smithy.api#idRef": {
                            "failWhenMissing": true,
                            "selector": "structure[trait|error]"
                        },
                        "smithy.api#recommended": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Configures endpoint discovery for the service.",
                "smithy.api#trait": {
                    "selector": "service"
                }
            }
        },
        "aws.api#clientEndpointDiscoveryId": {
            "type": "structure",
            "members": {},
            "traits": {
                "smithy.api#documentation": "Indicates members of the operation input which should be use to discover\nendpoints.",
                "smithy.api#trait": {
                    "selector": "operation[trait|aws.api#clientDiscoveredEndpoint] -[input]->\nstructure > :test(member[trait|required] > string)"
                }
            }
        },
        "aws.api#controlPlane": {
            "type": "structure",
            "members": {},
            "traits": {
                "smithy.api#documentation": "Defines a service, resource, or operation as operating on the control plane.",
                "smithy.api#trait": {
                    "selector": ":test(service, resource, operation)",
                    "conflicts": [
                        "aws.api#dataPlane"
                    ]
                }
            }
        },
        "aws.api#data": {
            "type": "enum",
            "members": {
                "CUSTOMER_CONTENT": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#documentation": "Customer content means any software (including machine images), data,\ntext, audio, video or images that customers or any customer end user\ntransfers to AWS for processing, storage or hosting by AWS services in\nconnection with the customer’s accounts and any computational results\nthat customers or any customer end user derive from the foregoing\nthrough their use of AWS services.",
                        "smithy.api#enumValue": "content"
                    }
                },
                "CUSTOMER_ACCOUNT_INFORMATION": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#documentation": "Account information means information about customers that customers\nprovide to AWS in connection with the creation or administration of\ncustomers’ accounts.",
                        "smithy.api#enumValue": "account"
                    }
                },
                "SERVICE_ATTRIBUTES": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#documentation": "Service Attributes means service usage data related to a customer’s\naccount, such as resource identifiers, metadata tags, security and\naccess roles, rules, usage policies, permissions, usage statistics,\nlogging data, and analytics.",
                        "smithy.api#enumValue": "usage"
                    }
                },
                "TAG_DATA": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#documentation": "Designates metadata tags applied to AWS resources.",
                        "smithy.api#enumValue": "tagging"
                    }
                },
                "PERMISSIONS_DATA": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#documentation": "Designates security and access roles, rules, usage policies, and\npermissions.",
                        "smithy.api#enumValue": "permissions"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Designates the target as containing data of a known classification level.",
                "smithy.api#trait": {
                    "selector": ":test(simpleType, list, structure, union, member)"
                }
            }
        },
        "aws.api#dataPlane": {
            "type": "structure",
            "members": {},
            "traits": {
                "smithy.api#documentation": "Defines a service, resource, or operation as operating on the data plane.",
                "smithy.api#trait": {
                    "selector": ":test(service, resource, operation)",
                    "conflicts": [
                        "aws.api#controlPlane"
                    ]
                }
            }
        },
        "aws.api#service": {
            "type": "structure",
            "members": {
                "sdkId": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "The `sdkId` property is a required string value that specifies the AWS\nSDK service ID (e.g., \"API Gateway\"). This value is used for generating\nclient names in SDKs and for linking between services.",
                        "smithy.api#required": {}
                    }
                },
                "arnNamespace": {
                    "target": "aws.api#ArnNamespace",
                    "traits": {
                        "smithy.api#documentation": "The `arnNamespace` property is a string value that defines the ARN service\nnamespace of the service (e.g., \"apigateway\"). This value is used in\nARNs assigned to resources in the service. If not set, this value\ndefaults to the lowercase name of the service shape."
                    }
                },
                "cloudFormationName": {
                    "target": "aws.api#CloudFormationName",
                    "traits": {
                        "smithy.api#documentation": "The `cloudFormationName` property is a string value that specifies the\nAWS CloudFormation service name (e.g., `ApiGateway`). When not set,\nthis value defaults to the name of the service shape. This value is\npart of the CloudFormation resource type name that is automatically\nassigned to resources in the service (e.g., `AWS::<NAME>::resourceName`)."
                    }
                },
                "cloudTrailEventSource": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "The `cloudTrailEventSource` property is a string value that defines the\nAWS customer-facing eventSource property contained in CloudTrail event\nrecords emitted by the service. If not specified, this value defaults\nto the `arnNamespace` plus `.amazonaws.com`."
                    }
                },
                "docId": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "The `docId` property is a string value that defines the identifier\nused to implemention linking between service and SDK documentation for\nAWS services. If not specified, this value defaults to the `sdkId` in\nlower case plus the service `version` property, separated by dashes."
                    }
                },
                "endpointPrefix": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "The `endpointPrefix` property is a string value that identifies which\nendpoint in a given region should be used to connect to the service.\nFor example, most services in the AWS standard partition have endpoints\nwhich follow the format: `{endpointPrefix}.{region}.amazonaws.com`. A\nservice with the endpoint prefix example in the region us-west-2 might\nhave the endpoint example.us-west-2.amazonaws.com.\n\nThis value is not unique across services and is subject to change.\nTherefore, it MUST NOT be used for client naming or for any other\npurpose that requires a static, unique identifier. sdkId should be used\nfor those purposes. Additionally, this value can be used to attempt to\nresolve endpoints."
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "An AWS service is defined using the `aws.api#service` trait. This trait\nprovides information about the service like the name used to generate AWS\nSDK client classes and the namespace used in ARNs.",
                "smithy.api#trait": {
                    "selector": "service"
                }
            }
        },
        "aws.api#tagEnabled": {
            "type": "structure",
            "members": {
                "disableDefaultOperations": {
                    "target": "smithy.api#Boolean",
                    "traits": {
                        "smithy.api#documentation": "The `disableDefaultOperations` property is a boolean value that specifies\nif the service does not have the standard tag operations supporting all\nresources on the service. Default value is `false`"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Annotates a service as having tagging on 1 or more resources and associated\nAPIs to perform CRUD operations on those tags",
                "smithy.api#trait": {
                    "selector": "service"
                },
                "smithy.api#unstable": {}
            }
        },
        "aws.api#taggable": {
            "type": "structure",
            "members": {
                "property": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "The `property` property is a string value that identifies which\nresource property represents tags for the resource."
                    }
                },
                "apiConfig": {
                    "target": "aws.api#TaggableApiConfig",
                    "traits": {
                        "smithy.api#documentation": "Specifies configuration for resource specific tagging APIs if the\nresource has them."
                    }
                },
                "disableSystemTags": {
                    "target": "smithy.api#Boolean",
                    "traits": {
                        "smithy.api#documentation": "Flag indicating if the resource is not able to carry AWS system level.\nUsed by service principals. Default value is `false`"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Indicates a resource supports CRUD operations for tags. Either through\nresource lifecycle or instance operations or tagging operations on the\nservice.",
                "smithy.api#trait": {
                    "selector": "resource"
                },
                "smithy.api#unstable": {}
            }
        },
        "aws.auth#StringList": {
            "type": "list",
            "member": {
                "target": "smithy.api#String"
            },
            "traits": {
                "smithy.api#private": {}
            }
        },
        "aws.auth#cognitoUserPools": {
            "type": "structure",
            "members": {
                "providerArns": {
                    "target": "aws.auth#StringList",
                    "traits": {
                        "smithy.api#documentation": "A list of the Amazon Cognito user pool ARNs. Each element is of this\nformat: `arn:aws:cognito-idp:{region}:{account_id}:userpool/{user_pool_id}`.",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#authDefinition": {},
                "smithy.api#documentation": "Configures an Amazon Cognito User Pools auth scheme.",
                "smithy.api#internal": {},
                "smithy.api#tags": [
                    "internal"
                ],
                "smithy.api#trait": {
                    "selector": "service"
                }
            }
        },
        "aws.auth#sigv4": {
            "type": "structure",
            "members": {
                "name": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "The signature version 4 service signing name to use in the credential\nscope when signing requests. This value SHOULD match the `arnNamespace`\nproperty of the `aws.api#service` trait if present and the `name`\nproperty of the `aws.api#sigv4a` trait if present.",
                        "smithy.api#externalDocumentation": {
                            "Reference": "https://docs.aws.amazon.com/general/latest/gr/sigv4-create-string-to-sign.html"
                        },
                        "smithy.api#length": {
                            "min": 1
                        },
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#authDefinition": {
                    "traits": [
                        "aws.auth#unsignedPayload"
                    ]
                },
                "smithy.api#documentation": "[Signature Version 4](https://docs.aws.amazon.com/general/latest/gr/signature-version-4.html)\nis the process to add authentication information to AWS requests sent by HTTP. For\nsecurity, most requests to AWS must be signed with an access key, which consists\nof an access key ID and secret access key. These two keys are commonly referred to\nas your security credentials.",
                "smithy.api#externalDocumentation": {
                    "Reference": "https://docs.aws.amazon.com/general/latest/gr/signature-version-4.html"
                },
                "smithy.api#trait": {
                    "selector": "service",
                    "breakingChanges": [
                        {
                            "change": "remove",
                            "message": "Removing the existing authentication scheme is not backward compatible and can break existing clients' authentication."
                        }
                    ]
                }
            }
        },
        "aws.auth#sigv4a": {
            "type": "structure",
            "members": {
                "name": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "The signature version 4a service signing name to use in the credential\nscope when signing requests. This value SHOULD match the `arnNamespace`\nproperty of the `aws.api#service` trait if present and the `name`\nproperty of the `aws.api#sigv4` trait.",
                        "smithy.api#externalDocumentation": {
                            "Reference": "https://docs.aws.amazon.com/general/latest/gr/sigv4-create-string-to-sign.html"
                        },
                        "smithy.api#length": {
                            "min": 1
                        },
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#authDefinition": {
                    "traits": [
                        "aws.auth#unsignedPayload"
                    ]
                },
                "smithy.api#documentation": "Signature Version 4 Asymmetric (SigV4A), an extension of Signature Version 4 (SigV4), is the\nprocess to add authentication information to AWS requests sent by HTTP. SigV4A is nearly\nidentical to SigV4, but also uses public-private keys and asymmetric cryptographic signatures\nfor every request. Most notably, SigV4A supports signatures for multi-region API requests.",
                "smithy.api#externalDocumentation": {
                    "Reference": "https://docs.aws.amazon.com/general/latest/gr/signature-version-4.html",
                    "Examples": "https://github.com/aws-samples/sigv4a-signing-examples"
                },
                "smithy.api#trait": {
                    "selector": "service[trait|aws.auth#sigv4]",
                    "breakingChanges": [
                        {
                            "change": "remove",
                            "message": "Removing the existing authentication scheme is not backward compatible and can break existing clients' authentication."
                        }
                    ]
                }
            }
        },
        "aws.auth#unsignedPayload": {
            "type": "structure",
            "members": {},
            "traits": {
                "smithy.api#documentation": "Indicates that the request payload of a signed request is not to be used\nas part of the signature.",
                "smithy.api#trait": {
                    "selector": "operation"
                }
            }
        },
        "aws.cloudformation#StructureIdList": {
            "type": "list",
            "member": {
                "target": "smithy.api#String",
                "traits": {
                    "smithy.api#idRef": {
                        "failWhenMissing": true,
                        "selector": "structure"
                    }
                }
            },
            "traits": {
                "smithy.api#private": {}
            }
        },
        "aws.cloudformation#cfnAdditionalIdentifier": {
            "type": "structure",
            "members": {},
            "traits": {
                "smithy.api#documentation": "Indicates that the CloudFormation property generated from this member is an\nadditional identifier for the resource.",
                "smithy.api#trait": {
                    "selector": "structure > :test(member > string)",
                    "conflicts": [
                        "aws.cloudformation#cfnExcludeProperty"
                    ],
                    "breakingChanges": [
                        {
                            "change": "remove"
                        }
                    ]
                },
                "smithy.api#unstable": {}
            }
        },
        "aws.cloudformation#cfnDefaultValue": {
            "type": "structure",
            "members": {},
            "traits": {
                "smithy.api#documentation": "Indicates that a structure member has a default value\nfor the property of the CloudFormation resource.",
                "smithy.api#trait": {
                    "selector": "resource > operation -[input, output]-> structure > member",
                    "conflicts": [
                        "aws.cloudformation#cfnExcludeProperty"
                    ]
                },
                "smithy.api#unstable": {}
            }
        },
        "aws.cloudformation#cfnExcludeProperty": {
            "type": "structure",
            "members": {},
            "traits": {
                "smithy.api#documentation": "Indicates that a structure member should not be included in generated\nCloudFormation resource definitions.",
                "smithy.api#trait": {
                    "selector": "structure > member",
                    "conflicts": [
                        "aws.cloudformation#cfnAdditionalIdentifier",
                        "aws.cloudformation#cfnMutability",
                        "aws.cloudformation#cfnDefaultValue"
                    ],
                    "breakingChanges": [
                        {
                            "change": "add"
                        }
                    ]
                },
                "smithy.api#unstable": {}
            }
        },
        "aws.cloudformation#cfnMutability": {
            "type": "enum",
            "members": {
                "FULL": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#documentation": "Indicates that the CloudFormation property generated from this\nmember does not have any mutability restrictions, meaning that it\ncan be specified by the user and returned in a `read` or `list`\nrequest.",
                        "smithy.api#enumValue": "full"
                    }
                },
                "CREATE_AND_READ": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#documentation": "Indicates that the CloudFormation property generated from this\nmember can be specified only during resource creation and can be\nreturned in a `read` or `list` request.",
                        "smithy.api#enumValue": "create-and-read"
                    }
                },
                "CREATE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#documentation": "Indicates that the CloudFormation property generated from this\nmember can be specified only during resource creation and cannot\nbe returned in a `read` or `list` request. MUST NOT be set if the\nmember is also marked with the `@additionalIdentifier` trait.",
                        "smithy.api#enumValue": "create"
                    }
                },
                "READ": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#documentation": "Indicates that the CloudFormation property generated from this\nmember can be returned by a `read` or `list` request, but\ncannot be set by the user.",
                        "smithy.api#enumValue": "read"
                    }
                },
                "WRITE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#documentation": "Indicates that the CloudFormation property generated from this\nmember can be specified by the user, but cannot be returned by a\n`read` or `list` request. MUST NOT be set if the member is also\nmarked with the `@additionalIdentifier` trait.",
                        "smithy.api#enumValue": "write"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Indicates an explicit CloudFormation mutability of the structure member\nwhen part of a CloudFormation resource.",
                "smithy.api#trait": {
                    "selector": "structure > member",
                    "conflicts": [
                        "aws.cloudformation#cfnExcludeProperty"
                    ]
                },
                "smithy.api#unstable": {}
            }
        },
        "aws.cloudformation#cfnName": {
            "type": "string",
            "traits": {
                "smithy.api#documentation": "The cloudFormationName trait allows a CloudFormation resource property name\nto differ from a structure member name used in the model.",
                "smithy.api#trait": {
                    "selector": "structure > member",
                    "breakingChanges": [
                        {
                            "change": "any"
                        }
                    ]
                },
                "smithy.api#unstable": {}
            }
        },
        "aws.cloudformation#cfnResource": {
            "type": "structure",
            "members": {
                "name": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "Provides a custom CloudFormation resource name."
                    }
                },
                "additionalSchemas": {
                    "target": "aws.cloudformation#StructureIdList",
                    "traits": {
                        "smithy.api#documentation": "A list of additional shape IDs of structures that will have their\nproperties added to the CloudFormation resource."
                    }
                },
                "primaryIdentifier": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#deprecated": {
                            "message": "Prefer the resource's identifiers when generating resource schemas."
                        },
                        "smithy.api#documentation": "An alternative resource property to use as the primary identifier\nfor the CloudFormation resource. The value MUST be the name of a\nproperty on the resource shape that targets a string shape."
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Indicates that a Smithy resource is a CloudFormation resource.",
                "smithy.api#trait": {
                    "selector": "resource",
                    "breakingChanges": [
                        {
                            "change": "presence"
                        }
                    ]
                },
                "smithy.api#unstable": {}
            }
        },
        "aws.customizations#s3UnwrappedXmlOutput": {
            "type": "structure",
            "members": {},
            "traits": {
                "smithy.api#documentation": "Indicates the response body from S3 is not wrapped in the\naws-restxml-protocol operation-level XML node. Intended to only be used by\nAWS S3.",
                "smithy.api#trait": {
                    "selector": "operation"
                }
            }
        },
        "aws.endpoints#PartitionEndpointPattern": {
            "type": "enum",
            "members": {
                "SERVICE_DNSSUFFIX": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#deprecated": {
                            "since": "2025-04-01",
                            "message": "Not recommended to use. Use AWS_RECOMMENDED instead"
                        },
                        "smithy.api#enumValue": "service_dnsSuffix"
                    }
                },
                "SERVICE_REGION_DNSSUFFIX": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#deprecated": {
                            "since": "2025-04-01",
                            "message": "Not recommended to use. Use AWS_RECOMMENDED instead"
                        },
                        "smithy.api#enumValue": "service_region_dnsSuffix"
                    }
                },
                "AWS_RECOMMENDED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "aws_recommended"
                    }
                }
            },
            "traits": {
                "smithy.api#private": {}
            }
        },
        "aws.endpoints#PartitionEndpointSpecialCase": {
            "type": "structure",
            "members": {
                "endpoint": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "The special-cased endpoint pattern."
                    }
                },
                "region": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "The region to override the defaultGlobalRegion used in this partition."
                    }
                },
                "dualStack": {
                    "target": "smithy.api#Boolean",
                    "traits": {
                        "smithy.api#documentation": "When true, the special case will apply to dualstack endpoint variants."
                    }
                },
                "fips": {
                    "target": "smithy.api#Boolean",
                    "traits": {
                        "smithy.api#documentation": "When true, the special case will apply to fips endpoint variants."
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Defines the endpoint pattern to apply for a partitional endpoint.",
                "smithy.api#private": {}
            }
        },
        "aws.endpoints#PartitionEndpointSpecialCaseList": {
            "type": "list",
            "member": {
                "target": "aws.endpoints#PartitionEndpointSpecialCase"
            },
            "traits": {
                "smithy.api#private": {}
            }
        },
        "aws.endpoints#PartitionEndpointSpecialCaseMap": {
            "type": "map",
            "key": {
                "target": "smithy.api#String"
            },
            "value": {
                "target": "aws.endpoints#PartitionEndpointSpecialCaseList"
            },
            "traits": {
                "smithy.api#private": {}
            }
        },
        "aws.endpoints#PartitionSpecialCase": {
            "type": "structure",
            "members": {
                "endpoint": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "The special-cased endpoint pattern.",
                        "smithy.api#required": {}
                    }
                },
                "dualStack": {
                    "target": "smithy.api#Boolean",
                    "traits": {
                        "smithy.api#documentation": "When true, the special case will apply to dualstack endpoint variants."
                    }
                },
                "fips": {
                    "target": "smithy.api#Boolean",
                    "traits": {
                        "smithy.api#documentation": "When true, the special case will apply to fips endpoint variants."
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Defines the endpoint pattern to apply for all regional endpoints in the given partition.",
                "smithy.api#private": {}
            }
        },
        "aws.endpoints#PartitionSpecialCaseList": {
            "type": "list",
            "member": {
                "target": "aws.endpoints#PartitionSpecialCase"
            },
            "traits": {
                "smithy.api#private": {}
            }
        },
        "aws.endpoints#PartitionSpecialCaseMap": {
            "type": "map",
            "key": {
                "target": "smithy.api#String"
            },
            "value": {
                "target": "aws.endpoints#PartitionSpecialCaseList"
            },
            "traits": {
                "smithy.api#private": {}
            }
        },
        "aws.endpoints#RegionSpecialCase": {
            "type": "structure",
            "members": {
                "endpoint": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "The special-cased endpoint pattern.",
                        "smithy.api#required": {}
                    }
                },
                "dualStack": {
                    "target": "smithy.api#Boolean",
                    "traits": {
                        "smithy.api#documentation": "When true, the special case will apply to dualstack endpoint variants."
                    }
                },
                "fips": {
                    "target": "smithy.api#Boolean",
                    "traits": {
                        "smithy.api#documentation": "When true, the special case will apply to fips endpoint variants."
                    }
                },
                "signingRegion": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "Overrides the signingRegion used for this region."
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Defines the endpoint pattern to apply for a region.",
                "smithy.api#private": {}
            }
        },
        "aws.endpoints#RegionSpecialCaseList": {
            "type": "list",
            "member": {
                "target": "aws.endpoints#RegionSpecialCase"
            },
            "traits": {
                "smithy.api#private": {}
            }
        },
        "aws.endpoints#RegionSpecialCaseMap": {
            "type": "map",
            "key": {
                "target": "smithy.api#String"
            },
            "value": {
                "target": "aws.endpoints#RegionSpecialCaseList"
            },
            "traits": {
                "smithy.api#private": {}
            }
        },
        "aws.endpoints#dualStackOnlyEndpoints": {
            "type": "structure",
            "members": {},
            "traits": {
                "aws.endpoints#endpointsModifier": {},
                "smithy.api#documentation": "Marks that a services has only dualStack endpoints.",
                "smithy.api#trait": {
                    "selector": "service",
                    "breakingChanges": [
                        {
                            "change": "any"
                        }
                    ]
                }
            }
        },
        "aws.endpoints#endpointsModifier": {
            "type": "structure",
            "members": {},
            "traits": {
                "smithy.api#documentation": "Marks a trait as an endpoints modifier defining trait.\n\nThe targeted trait must only be applied to service shapes,\nmust be a structure, and must have the `trait` trait.",
                "smithy.api#trait": {
                    "selector": "structure[trait|trait]",
                    "breakingChanges": [
                        {
                            "change": "presence"
                        }
                    ]
                }
            }
        },
        "aws.endpoints#rulesBasedEndpoints": {
            "type": "structure",
            "members": {},
            "traits": {
                "aws.endpoints#endpointsModifier": {},
                "smithy.api#documentation": "Marks that a services has hand written endpoint rules.",
                "smithy.api#trait": {
                    "selector": "service",
                    "breakingChanges": [
                        {
                            "change": "any"
                        }
                    ]
                },
                "smithy.api#unstable": {}
            }
        },
        "aws.endpoints#standardPartitionalEndpoints": {
            "type": "structure",
            "members": {
                "endpointPatternType": {
                    "target": "aws.endpoints#PartitionEndpointPattern",
                    "traits": {
                        "smithy.api#documentation": "The pattern type to use for the partition endpoint.",
                        "smithy.api#required": {}
                    }
                },
                "partitionEndpointSpecialCases": {
                    "target": "aws.endpoints#PartitionEndpointSpecialCaseMap",
                    "traits": {
                        "smithy.api#documentation": "A map of partition to a list of partition endpoint special cases -\npartitions that do not follow the services standard patterns or are\nlocated in a region other than the partition's defaultGlobalRegion."
                    }
                }
            },
            "traits": {
                "aws.endpoints#endpointsModifier": {},
                "smithy.api#documentation": "Marks that a services is non-regionalized and has\na single endpoint in each partition.",
                "smithy.api#trait": {
                    "selector": "service",
                    "conflicts": [
                        "aws.endpoints#standardRegionalEndpoints"
                    ],
                    "breakingChanges": [
                        {
                            "change": "any"
                        }
                    ]
                }
            }
        },
        "aws.endpoints#standardRegionalEndpoints": {
            "type": "structure",
            "members": {
                "partitionSpecialCases": {
                    "target": "aws.endpoints#PartitionSpecialCaseMap",
                    "traits": {
                        "smithy.api#documentation": "A map of partition to partition special cases -\nendpoints for a partition that do not follow the standard patterns."
                    }
                },
                "regionSpecialCases": {
                    "target": "aws.endpoints#RegionSpecialCaseMap",
                    "traits": {
                        "smithy.api#documentation": "A map of region to regional special cases -\nendpoints for a region that do not follow the standard patterns."
                    }
                }
            },
            "traits": {
                "aws.endpoints#endpointsModifier": {},
                "smithy.api#documentation": "Marks that a services endpoints should be resolved using\nstandard regional endpoint patterns.",
                "smithy.api#trait": {
                    "selector": "service",
                    "conflicts": [
                        "aws.endpoints#standardPartitionalEndpoints"
                    ],
                    "breakingChanges": [
                        {
                            "change": "remove"
                        }
                    ]
                }
            }
        },
        "aws.iam#ActionResource": {
            "type": "structure",
            "members": {
                "conditionKeys": {
                    "target": "aws.iam#ConditionKeysList",
                    "traits": {
                        "smithy.api#documentation": "The condition keys used for authorizing against this resource."
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Contains information about a resource an IAM action can be authorized against.",
                "smithy.api#private": {}
            }
        },
        "aws.iam#ActionResourceMap": {
            "type": "map",
            "key": {
                "target": "aws.iam#ResourceName"
            },
            "value": {
                "target": "aws.iam#ActionResource"
            },
            "traits": {
                "smithy.api#private": {}
            }
        },
        "aws.iam#ActionResources": {
            "type": "structure",
            "members": {
                "required": {
                    "target": "aws.iam#ActionResourceMap",
                    "traits": {
                        "smithy.api#documentation": "Resources that will always be authorized against for functionality of the IAM action."
                    }
                },
                "optional": {
                    "target": "aws.iam#ActionResourceMap",
                    "traits": {
                        "smithy.api#documentation": "Resources that will be authorized against based on optional behavior of the IAM action."
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "A container for information on the resources that an IAM action may be authorized against.",
                "smithy.api#private": {}
            }
        },
        "aws.iam#ConditionKeyDefinition": {
            "type": "structure",
            "members": {
                "type": {
                    "target": "aws.iam#ConditionKeyType",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "documentation": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "Defines documentation about the condition key."
                    }
                },
                "externalDocumentation": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "A valid URL that defines more information about the condition key."
                    }
                },
                "relativeDocumentation": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "A relative URL path that defines more information about the condition key\nwithin a set of IAM-related documentation."
                    }
                },
                "required": {
                    "target": "smithy.api#Boolean",
                    "traits": {
                        "smithy.api#documentation": "Whether a service resolved condition key is required.\nRequest resolved condition keys MUST use the @required trait."
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "A defined condition key to appear within a service in addition to inferred and global condition keys.",
                "smithy.api#private": {}
            }
        },
        "aws.iam#ConditionKeyName": {
            "type": "string",
            "traits": {
                "smithy.api#pattern": "^(([A-Za-z0-9][A-Za-z0-9-\\.]{0,62}:)?[^:\\s]+)$",
                "smithy.api#private": {}
            }
        },
        "aws.iam#ConditionKeyType": {
            "type": "enum",
            "members": {
                "ARN": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#documentation": "A String type that contains an Amazon Resource Name (ARN).",
                        "smithy.api#enumValue": "ARN"
                    }
                },
                "ARRAY_OF_ARN": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#documentation": "An unordered list of ARN types.",
                        "smithy.api#enumValue": "ArrayOfARN"
                    }
                },
                "BINARY": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#documentation": "A String type that contains base-64 encoded binary data.",
                        "smithy.api#enumValue": "Binary"
                    }
                },
                "ARRAY_OF_BINARY": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#documentation": "An unordered list of Binary types.",
                        "smithy.api#enumValue": "ArrayOfBinary"
                    }
                },
                "STRING": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#documentation": "A general string type.",
                        "smithy.api#enumValue": "String"
                    }
                },
                "ARRAY_OF_STRING": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#documentation": "An unordered list of String types.",
                        "smithy.api#enumValue": "ArrayOfString"
                    }
                },
                "NUMERIC": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#documentation": "A general type for integers and floats.",
                        "smithy.api#enumValue": "Numeric"
                    }
                },
                "ARRAY_OF_NUMERIC": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#documentation": "An unordered list of Numeric types.",
                        "smithy.api#enumValue": "ArrayOfNumeric"
                    }
                },
                "DATE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#documentation": "A String type that conforms to the datetime profile of ISO 8601.",
                        "smithy.api#enumValue": "Date"
                    }
                },
                "ARRAY_OF_DATE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#documentation": "An unordered list of Date types.",
                        "smithy.api#enumValue": "ArrayOfDate"
                    }
                },
                "BOOL": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#documentation": "A general boolean type.",
                        "smithy.api#enumValue": "Bool"
                    }
                },
                "ARRAY_OF_BOOL": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#documentation": "An unordered list of Bool types.",
                        "smithy.api#enumValue": "ArrayOfBool"
                    }
                },
                "IP_ADDRESS": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#documentation": "A String type that conforms to RFC 4632.",
                        "smithy.api#enumValue": "IPAddress"
                    }
                },
                "ARRAY_OF_IP_ADDRESS": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#documentation": "An unordered list of IPAddress types.",
                        "smithy.api#enumValue": "ArrayOfIPAddress"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "The IAM policy type of the value that will supplied for this context key",
                "smithy.api#private": {}
            }
        },
        "aws.iam#ConditionKeysList": {
            "type": "list",
            "member": {
                "target": "smithy.api#String"
            },
            "traits": {
                "smithy.api#private": {},
                "smithy.api#uniqueItems": {}
            }
        },
        "aws.iam#IamIdentifier": {
            "type": "string",
            "traits": {
                "smithy.api#pattern": "^([A-Za-z0-9][A-Za-z0-9-\\.]{0,62}:[^:]+)$",
                "smithy.api#private": {}
            }
        },
        "aws.iam#PrincipalType": {
            "type": "enum",
            "members": {
                "ROOT": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#documentation": "An AWS account.",
                        "smithy.api#enumValue": "Root"
                    }
                },
                "IAM_USER": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#documentation": "An AWS IAM user.",
                        "smithy.api#enumValue": "IAMUser"
                    }
                },
                "IAM_ROLE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#documentation": "An AWS IAM role.",
                        "smithy.api#enumValue": "IAMRole"
                    }
                },
                "FEDERATED_USER": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#documentation": "A federated user session.",
                        "smithy.api#enumValue": "FederatedUser"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "An IAM policy principal type.",
                "smithy.api#private": {}
            }
        },
        "aws.iam#RequiredActionsList": {
            "type": "list",
            "member": {
                "target": "aws.iam#IamIdentifier"
            },
            "traits": {
                "smithy.api#private": {},
                "smithy.api#uniqueItems": {}
            }
        },
        "aws.iam#ResourceName": {
            "type": "string",
            "traits": {
                "smithy.api#private": {}
            }
        },
        "aws.iam#ResourceNameList": {
            "type": "list",
            "member": {
                "target": "aws.iam#ResourceName"
            },
            "traits": {
                "smithy.api#private": {},
                "smithy.api#uniqueItems": {}
            }
        },
        "aws.iam#actionName": {
            "type": "string",
            "traits": {
                "smithy.api#deprecated": {
                    "since": "2023-11-10",
                    "message": "Use the `name` member of the `aws.iam#iamAction` trait instead."
                },
                "smithy.api#documentation": "Provides a custom IAM action name. By default, the action name is the same as the operation name.",
                "smithy.api#trait": {
                    "selector": "operation"
                }
            }
        },
        "aws.iam#actionPermissionDescription": {
            "type": "string",
            "traits": {
                "smithy.api#deprecated": {
                    "since": "2023-11-10",
                    "message": "Use the `documentation` member of the `aws.iam#iamAction` trait instead."
                },
                "smithy.api#documentation": "A brief description of what granting the user permission to invoke an operation would entail.\nThis description should begin with something similar to 'Enables the user to...' or 'Grants permission to...'",
                "smithy.api#trait": {
                    "selector": "operation"
                }
            }
        },
        "aws.iam#conditionKeyValue": {
            "type": "string",
            "traits": {
                "smithy.api#documentation": "Uses the associated member’s value as this condition key’s value.\nNeeded when the member name doesn't match the condition key name.",
                "smithy.api#pattern": "^(([A-Za-z0-9][A-Za-z0-9-\\.]{0,62}:)?[^:\\s]+)$",
                "smithy.api#trait": {
                    "selector": "member"
                }
            }
        },
        "aws.iam#conditionKeys": {
            "type": "list",
            "member": {
                "target": "aws.iam#ConditionKeyName"
            },
            "traits": {
                "smithy.api#documentation": "Applies condition keys by name to a resource or operation.",
                "smithy.api#trait": {
                    "selector": ":test(resource, operation)"
                }
            }
        },
        "aws.iam#defineConditionKeys": {
            "type": "map",
            "key": {
                "target": "aws.iam#ConditionKeyName"
            },
            "value": {
                "target": "aws.iam#ConditionKeyDefinition"
            },
            "traits": {
                "smithy.api#documentation": "Defines the set of condition keys that appear within a service in addition to\ninferred and global condition keys.",
                "smithy.api#trait": {
                    "selector": "service"
                }
            }
        },
        "aws.iam#disableConditionKeyInference": {
            "type": "structure",
            "members": {},
            "traits": {
                "smithy.api#documentation": "Disables the automatic inference of condition keys of service's resources or a specific resource.",
                "smithy.api#trait": {
                    "selector": ":test(service, resource)"
                }
            }
        },
        "aws.iam#iamAction": {
            "type": "structure",
            "members": {
                "name": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "The name of the action in AWS IAM."
                    }
                },
                "documentation": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "A brief description of what granting the user permission to invoke an operation would entail.\nThis description should begin with something similar to 'Enables the user to...' or 'Grants permission to...'"
                    }
                },
                "relativeDocumentation": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "A relative URL path that defines more information about the action within a set of IAM-related documentation."
                    }
                },
                "requiredActions": {
                    "target": "aws.iam#RequiredActionsList",
                    "traits": {
                        "smithy.api#documentation": "Other actions that the invoker must be authorized to perform when executing the targeted operation."
                    }
                },
                "resources": {
                    "target": "aws.iam#ActionResources",
                    "traits": {
                        "smithy.api#documentation": "The resources an IAM action can be authorized against."
                    }
                },
                "createsResources": {
                    "target": "aws.iam#ResourceNameList",
                    "traits": {
                        "smithy.api#documentation": "The resources that performing this IAM action will create."
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Indicates properties of a Smithy operation as an IAM action.",
                "smithy.api#trait": {
                    "selector": "operation"
                }
            }
        },
        "aws.iam#iamResource": {
            "type": "structure",
            "members": {
                "name": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "The name of the resource in AWS IAM."
                    }
                },
                "relativeDocumentation": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "A relative URL path that defines more information about the resource\nwithin a set of IAM-related documentation."
                    }
                },
                "disableConditionKeyInheritance": {
                    "target": "smithy.api#Boolean",
                    "traits": {
                        "smithy.api#documentation": "When set to `true`, decouples this IAM resource's condition keys from\nthose of its parent resource(s)."
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Indicates properties of a Smithy resource in AWS IAM.",
                "smithy.api#trait": {
                    "selector": "resource"
                }
            }
        },
        "aws.iam#requiredActions": {
            "type": "list",
            "member": {
                "target": "aws.iam#IamIdentifier"
            },
            "traits": {
                "smithy.api#deprecated": {
                    "since": "2023-11-10",
                    "message": "Use the `requiredActions` member of the `aws.iam#iamAction` trait instead."
                },
                "smithy.api#documentation": "Other actions that the invoker must be authorized to perform when executing the targeted operation.",
                "smithy.api#trait": {
                    "selector": "operation"
                }
            }
        },
        "aws.iam#serviceResolvedConditionKeys": {
            "type": "list",
            "member": {
                "target": "aws.iam#ConditionKeyName"
            },
            "traits": {
                "smithy.api#documentation": "Specifies the list of IAM condition keys which must be resolved by the service,\nas opposed to being pulled from the request.",
                "smithy.api#trait": {
                    "selector": "service"
                }
            }
        },
        "aws.iam#supportedPrincipalTypes": {
            "type": "list",
            "member": {
                "target": "aws.iam#PrincipalType"
            },
            "traits": {
                "smithy.api#documentation": "The principal types that can use the service or operation.",
                "smithy.api#trait": {
                    "selector": ":test(service, operation)"
                }
            }
        },
        "aws.protocols#ChecksumAlgorithm": {
            "type": "enum",
            "members": {
                "CRC64NVME": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#documentation": "CRC64NVME",
                        "smithy.api#enumValue": "CRC64NVME"
                    }
                },
                "CRC32C": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#documentation": "CRC32C",
                        "smithy.api#enumValue": "CRC32C"
                    }
                },
                "CRC32": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#documentation": "CRC32",
                        "smithy.api#enumValue": "CRC32"
                    }
                },
                "SHA1": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#documentation": "SHA1",
                        "smithy.api#enumValue": "SHA1"
                    }
                },
                "SHA256": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#documentation": "SHA256",
                        "smithy.api#enumValue": "SHA256"
                    }
                }
            },
            "traits": {
                "smithy.api#private": {}
            }
        },
        "aws.protocols#ChecksumAlgorithmSet": {
            "type": "list",
            "member": {
                "target": "aws.protocols#ChecksumAlgorithm"
            },
            "traits": {
                "smithy.api#length": {
                    "min": 1
                },
                "smithy.api#private": {},
                "smithy.api#uniqueItems": {}
            }
        },
        "aws.protocols#HttpConfiguration": {
            "type": "structure",
            "members": {
                "http": {
                    "target": "aws.protocols#StringList",
                    "traits": {
                        "smithy.api#documentation": "The priority ordered list of supported HTTP protocol versions."
                    }
                },
                "eventStreamHttp": {
                    "target": "aws.protocols#StringList",
                    "traits": {
                        "smithy.api#documentation": "The priority ordered list of supported HTTP protocol versions that\nare required when using event streams with the service. If not set,\nthis value defaults to the value of the `http` member. Any entry in\n`eventStreamHttp` MUST also appear in `http`."
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Contains HTTP protocol configuration for HTTP-based protocols.",
                "smithy.api#mixin": {
                    "localTraits": [
                        "smithy.api#private"
                    ]
                },
                "smithy.api#private": {}
            }
        },
        "aws.protocols#StringList": {
            "type": "list",
            "member": {
                "target": "smithy.api#String"
            },
            "traits": {
                "smithy.api#private": {}
            }
        },
        "aws.protocols#awsJson1_0": {
            "type": "structure",
            "mixins": [
                {
                    "target": "aws.protocols#HttpConfiguration"
                }
            ],
            "members": {},
            "traits": {
                "smithy.api#documentation": "An RPC-based protocol that sends JSON payloads. This protocol does not use\nHTTP binding traits.",
                "smithy.api#protocolDefinition": {
                    "traits": [
                        "smithy.api#timestampFormat",
                        "smithy.api#cors",
                        "smithy.api#endpoint",
                        "smithy.api#hostLabel"
                    ]
                },
                "smithy.api#trait": {
                    "selector": "service"
                }
            }
        },
        "aws.protocols#awsJson1_1": {
            "type": "structure",
            "mixins": [
                {
                    "target": "aws.protocols#HttpConfiguration"
                }
            ],
            "members": {},
            "traits": {
                "smithy.api#documentation": "An RPC-based protocol that sends JSON payloads. This protocol does not use\nHTTP binding traits.",
                "smithy.api#protocolDefinition": {
                    "traits": [
                        "smithy.api#timestampFormat",
                        "smithy.api#cors",
                        "smithy.api#endpoint",
                        "smithy.api#hostLabel"
                    ]
                },
                "smithy.api#trait": {
                    "selector": "service"
                }
            }
        },
        "aws.protocols#awsQuery": {
            "type": "structure",
            "members": {},
            "traits": {
                "smithy.api#deprecated": {},
                "smithy.api#documentation": "An RPC-based protocol that sends 'POST' requests in the body as\n`x-www-form-urlencoded` strings and responses in XML documents. This\nprotocol does not use HTTP binding traits.",
                "smithy.api#protocolDefinition": {
                    "traits": [
                        "smithy.api#timestampFormat",
                        "smithy.api#cors",
                        "smithy.api#endpoint",
                        "smithy.api#hostLabel",
                        "aws.protocols#awsQueryError",
                        "smithy.api#xmlAttribute",
                        "smithy.api#xmlFlattened",
                        "smithy.api#xmlName",
                        "smithy.api#xmlNamespace"
                    ]
                },
                "smithy.api#trait": {
                    "selector": "service [trait|xmlNamespace]"
                },
                "smithy.api#traitValidators": {
                    "UnsupportedProtocolDocument": {
                        "selector": "~> member :test(> document)",
                        "message": "Document types are not supported with awsQuery"
                    }
                }
            }
        },
        "aws.protocols#awsQueryCompatible": {
            "type": "structure",
            "members": {},
            "traits": {
                "smithy.api#documentation": "Enable backward compatibility when migrating from awsQuery to the awsJson\nprotocol or Smithy RPC v2 CBOR.",
                "smithy.api#trait": {
                    "selector": "service :test([trait|aws.protocols#awsJson1_0], [trait|smithy.protocols#rpcv2Cbor])"
                }
            }
        },
        "aws.protocols#awsQueryError": {
            "type": "structure",
            "members": {
                "code": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "The value used to distinguish this error shape during serialization.",
                        "smithy.api#required": {}
                    }
                },
                "httpResponseCode": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#documentation": "The HTTP response code used on a response containing this error shape.",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Provides the value in the 'Code' distinguishing field and HTTP response\ncode for an operation error.",
                "smithy.api#trait": {
                    "selector": "structure [trait|error]",
                    "breakingChanges": [
                        {
                            "change": "any"
                        }
                    ]
                }
            }
        },
        "aws.protocols#ec2Query": {
            "type": "structure",
            "members": {},
            "traits": {
                "smithy.api#deprecated": {},
                "smithy.api#documentation": "An RPC-based protocol that sends 'POST' requests in the body as Amazon EC2\nformatted `x-www-form-urlencoded` strings and responses in XML documents.\nThis protocol does not use HTTP binding traits.",
                "smithy.api#protocolDefinition": {
                    "traits": [
                        "smithy.api#timestampFormat",
                        "smithy.api#cors",
                        "smithy.api#endpoint",
                        "smithy.api#hostLabel",
                        "aws.protocols#ec2QueryName",
                        "smithy.api#xmlAttribute",
                        "smithy.api#xmlFlattened",
                        "smithy.api#xmlName",
                        "smithy.api#xmlNamespace"
                    ]
                },
                "smithy.api#trait": {
                    "selector": "service [trait|xmlNamespace]"
                },
                "smithy.api#traitValidators": {
                    "UnsupportedProtocolDocument": {
                        "selector": "~> member :test(> document)",
                        "message": "Document types are not supported with ec2Query"
                    }
                }
            }
        },
        "aws.protocols#ec2QueryName": {
            "type": "string",
            "traits": {
                "smithy.api#documentation": "Indicates the serialized name of a structure member when that structure is\nserialized for the input of an EC2 operation.",
                "smithy.api#pattern": "^[a-zA-Z_][a-zA-Z_0-9-]*$",
                "smithy.api#trait": {
                    "selector": "structure > member"
                }
            }
        },
        "aws.protocols#httpChecksum": {
            "type": "structure",
            "members": {
                "requestAlgorithmMember": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "Defines a top-level operation input member that is used to configure\nrequest checksum behavior."
                    }
                },
                "requestChecksumRequired": {
                    "target": "smithy.api#Boolean",
                    "traits": {
                        "smithy.api#documentation": "Indicates an operation requires a checksum in its HTTP request."
                    }
                },
                "requestValidationModeMember": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "Defines a top-level operation input member used to opt-in to response\nchecksum validation."
                    }
                },
                "responseAlgorithms": {
                    "target": "aws.protocols#ChecksumAlgorithmSet",
                    "traits": {
                        "smithy.api#documentation": "Defines the checksum algorithms clients should look for when performing\nHTTP response checksum validation."
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Indicates that an operation supports checksum validation.",
                "smithy.api#trait": {
                    "selector": "operation",
                    "breakingChanges": [
                        {
                            "change": "remove",
                            "severity": "DANGER",
                            "message": "Removing the trait removes the ability for clients to do request or response checksums. The service MUST continue to support old clients by supporting the `httpChecksum` trait."
                        },
                        {
                            "change": "remove",
                            "path": "/requestAlgorithmMember",
                            "severity": "DANGER",
                            "message": "`requestAlgorithmMember` was removed, so newly generated clients will no longer be able to pick the request checksum algorithms The service MUST continue to support old clients by supporting `requestAlgorithmMember`."
                        },
                        {
                            "change": "remove",
                            "path": "/requestValidationModeMember",
                            "severity": "DANGER",
                            "message": "`requestValidationModeMember` was removed, so newly generated clients will no longer validate response checksums. The service MUST continue to support old clients by supporting `requestValidationModeMember`."
                        },
                        {
                            "change": "remove",
                            "path": "/responseAlgorithms/member",
                            "severity": "DANGER",
                            "message": "Members of `responseAlgorithms` were removed, so newly generated clients will no longer validate response checksums for the removed algorithms. The service MUST continue to support old clients by supporting removed compression algorithms."
                        }
                    ]
                },
                "smithy.api#unstable": {}
            }
        },
        "aws.protocols#restJson1": {
            "type": "structure",
            "mixins": [
                {
                    "target": "aws.protocols#HttpConfiguration"
                }
            ],
            "members": {},
            "traits": {
                "smithy.api#documentation": "A RESTful protocol that sends JSON in structured payloads.",
                "smithy.api#protocolDefinition": {
                    "traits": [
                        "smithy.api#timestampFormat",
                        "smithy.api#cors",
                        "smithy.api#endpoint",
                        "smithy.api#hostLabel",
                        "smithy.api#http",
                        "smithy.api#httpError",
                        "smithy.api#httpHeader",
                        "smithy.api#httpLabel",
                        "smithy.api#httpPayload",
                        "smithy.api#httpPrefixHeaders",
                        "smithy.api#httpQuery",
                        "smithy.api#httpQueryParams",
                        "smithy.api#httpResponseCode",
                        "smithy.api#httpChecksumRequired",
                        "smithy.api#jsonName"
                    ]
                },
                "smithy.api#trait": {
                    "selector": "service"
                }
            }
        },
        "aws.protocols#restXml": {
            "type": "structure",
            "mixins": [
                {
                    "target": "aws.protocols#HttpConfiguration"
                }
            ],
            "members": {
                "noErrorWrapping": {
                    "target": "smithy.api#Boolean",
                    "traits": {
                        "smithy.api#deprecated": {},
                        "smithy.api#documentation": "Disables the serialization wrapping of error properties in an 'Error'\nXML element."
                    }
                }
            },
            "traits": {
                "smithy.api#deprecated": {},
                "smithy.api#documentation": "A RESTful protocol that sends XML in structured payloads.",
                "smithy.api#protocolDefinition": {
                    "traits": [
                        "smithy.api#timestampFormat",
                        "smithy.api#cors",
                        "smithy.api#endpoint",
                        "smithy.api#hostLabel",
                        "smithy.api#http",
                        "smithy.api#httpError",
                        "smithy.api#httpHeader",
                        "smithy.api#httpLabel",
                        "smithy.api#httpPayload",
                        "smithy.api#httpPrefixHeaders",
                        "smithy.api#httpQuery",
                        "smithy.api#httpQueryParams",
                        "smithy.api#httpResponseCode",
                        "smithy.api#httpChecksumRequired",
                        "smithy.api#xmlAttribute",
                        "smithy.api#xmlFlattened",
                        "smithy.api#xmlName",
                        "smithy.api#xmlNamespace"
                    ]
                },
                "smithy.api#trait": {
                    "selector": "service"
                },
                "smithy.api#traitValidators": {
                    "UnsupportedProtocolDocument": {
                        "selector": "~> member :test(> document)",
                        "message": "Document types are not supported with restXml"
                    }
                }
            }
        },
        "com.scality.backbeat#AclObj": {
            "type": "structure",
            "members": {
                "Canned": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "Canned ACL setting"
                    }
                },
                "FULL_CONTROL": {
                    "target": "com.scality.backbeat#StringList",
                    "traits": {
                        "smithy.api#documentation": "List of users with FULL_CONTROL permission"
                    }
                },
                "WRITE": {
                    "target": "com.scality.backbeat#StringList",
                    "traits": {
                        "smithy.api#documentation": "List of users with WRITE permission"
                    }
                },
                "WRITE_ACP": {
                    "target": "com.scality.backbeat#StringList",
                    "traits": {
                        "smithy.api#documentation": "List of users with WRITE_ACP permission"
                    }
                },
                "READ": {
                    "target": "com.scality.backbeat#StringList",
                    "traits": {
                        "smithy.api#documentation": "List of users with READ permission"
                    }
                },
                "READ_ACP": {
                    "target": "com.scality.backbeat#StringList",
                    "traits": {
                        "smithy.api#documentation": "List of users with READ_ACP permission"
                    }
                }
            }
        },
        "com.scality.backbeat#Backbeat": {
            "type": "service",
            "version": "2017-07-01",
            "operations": [
                {
                    "target": "com.scality.backbeat#BatchDelete"
                },
                {
                    "target": "com.scality.backbeat#DeleteBucketIndexes"
                },
                {
                    "target": "com.scality.backbeat#DeleteObjectFromExpiration"
                },
                {
                    "target": "com.scality.backbeat#GetBucketCseq"
                },
                {
                    "target": "com.scality.backbeat#GetBucketIndexes"
                },
                {
                    "target": "com.scality.backbeat#GetBucketMetadata"
                },
                {
                    "target": "com.scality.backbeat#GetMetadata"
                },
                {
                    "target": "com.scality.backbeat#GetObject"
                },
                {
                    "target": "com.scality.backbeat#GetObjectList"
                },
                {
                    "target": "com.scality.backbeat#GetRaftBuckets"
                },
                {
                    "target": "com.scality.backbeat#GetRaftId"
                },
                {
                    "target": "com.scality.backbeat#GetRaftLog"
                },
                {
                    "target": "com.scality.backbeat#ListLifecycleCurrents"
                },
                {
                    "target": "com.scality.backbeat#ListLifecycleNonCurrents"
                },
                {
                    "target": "com.scality.backbeat#ListLifecycleOrphans"
                },
                {
                    "target": "com.scality.backbeat#MultipleBackendAbortMPU"
                },
                {
                    "target": "com.scality.backbeat#MultipleBackendCompleteMPU"
                },
                {
                    "target": "com.scality.backbeat#MultipleBackendDeleteObject"
                },
                {
                    "target": "com.scality.backbeat#MultipleBackendDeleteObjectTagging"
                },
                {
                    "target": "com.scality.backbeat#MultipleBackendHeadObject"
                },
                {
                    "target": "com.scality.backbeat#MultipleBackendInitiateMPU"
                },
                {
                    "target": "com.scality.backbeat#MultipleBackendPutMPUPart"
                },
                {
                    "target": "com.scality.backbeat#MultipleBackendPutObject"
                },
                {
                    "target": "com.scality.backbeat#MultipleBackendPutObjectTagging"
                },
                {
                    "target": "com.scality.backbeat#PutBucketIndexes"
                },
                {
                    "target": "com.scality.backbeat#PutData"
                },
                {
                    "target": "com.scality.backbeat#PutMetadata"
                }
            ],
            "traits": {
                "aws.api#service": {
                    "sdkId": "Backbeat"
                },
                "aws.auth#sigv4": {
                    "name": "s3"
                },
                "aws.protocols#restJson1": {},
                "smithy.api#suppress": [
                    "aws.api#ArnNamespaceMatchesServiceName"
                ]
            }
        },
        "com.scality.backbeat#BatchDelete": {
            "type": "operation",
            "input": {
                "target": "com.scality.backbeat#BatchDeleteInput"
            },
            "output": {
                "target": "com.scality.backbeat#BatchDeleteOutput"
            },
            "traits": {
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/_/backbeat/batchdelete/{Bucket}/{Key}"
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.scality.backbeat#BatchDeleteInput": {
            "type": "structure",
            "members": {
                "Bucket": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "Key": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "IfUnmodifiedSince": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#httpHeader": "If-Unmodified-Since"
                    }
                },
                "StorageClass": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#httpHeader": "X-Scal-Storage-Class"
                    }
                },
                "Tags": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#httpHeader": "X-Scal-Tags"
                    }
                },
                "ContentType": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#httpHeader": "X-Scal-Content-Type"
                    }
                },
                "Locations": {
                    "target": "com.scality.backbeat#BatchDeleteLocationList",
                    "traits": {
                        "smithy.api#documentation": "List of locations to delete"
                    }
                }
            }
        },
        "com.scality.backbeat#BatchDeleteLocation": {
            "type": "structure",
            "members": {
                "dataStoreName": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "The data store name where the object is stored",
                        "smithy.api#required": {}
                    }
                },
                "key": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "The storage key for the object",
                        "smithy.api#required": {}
                    }
                },
                "size": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#documentation": "Size of the object in bytes"
                    }
                },
                "dataStoreVersionId": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "Version ID in the data store"
                    }
                }
            }
        },
        "com.scality.backbeat#BatchDeleteLocationList": {
            "type": "list",
            "member": {
                "target": "com.scality.backbeat#BatchDeleteLocation"
            }
        },
        "com.scality.backbeat#BatchDeleteOutput": {
            "type": "structure",
            "members": {}
        },
        "com.scality.backbeat#BucketNameList": {
            "type": "list",
            "member": {
                "target": "smithy.api#String"
            }
        },
        "com.scality.backbeat#CommonPrefixList": {
            "type": "list",
            "member": {
                "target": "smithy.api#String"
            }
        },
        "com.scality.backbeat#CorsListObj": {
            "type": "list",
            "member": {
                "target": "com.scality.backbeat#CorsObj"
            }
        },
        "com.scality.backbeat#CorsObj": {
            "type": "map",
            "key": {
                "target": "smithy.api#String"
            },
            "value": {
                "target": "smithy.api#String"
            }
        },
        "com.scality.backbeat#CseqInfo": {
            "type": "structure",
            "members": {
                "cseq": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#documentation": "Current sequence number"
                    }
                }
            }
        },
        "com.scality.backbeat#CseqInfoList": {
            "type": "list",
            "member": {
                "target": "com.scality.backbeat#CseqInfo"
            }
        },
        "com.scality.backbeat#DeleteBucketIndexes": {
            "type": "operation",
            "input": {
                "target": "com.scality.backbeat#DeleteBucketIndexesInput"
            },
            "output": {
                "target": "com.scality.backbeat#DeleteBucketIndexesOutput"
            },
            "traits": {
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/_/backbeat/index/{Bucket}?operation=delete"
                }
            }
        },
        "com.scality.backbeat#DeleteBucketIndexesInput": {
            "type": "structure",
            "members": {
                "Bucket": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "Body": {
                    "target": "smithy.api#Blob",
                    "traits": {
                        "smithy.api#httpPayload": {}
                    }
                }
            }
        },
        "com.scality.backbeat#DeleteBucketIndexesOutput": {
            "type": "structure",
            "members": {}
        },
        "com.scality.backbeat#DeleteObjectFromExpiration": {
            "type": "operation",
            "input": {
                "target": "com.scality.backbeat#DeleteObjectFromExpirationInput"
            },
            "output": {
                "target": "com.scality.backbeat#DeleteObjectFromExpirationOutput"
            },
            "traits": {
                "smithy.api#http": {
                    "method": "DELETE",
                    "uri": "/_/backbeat/expiration/{Bucket}/{Key+}"
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.scality.backbeat#DeleteObjectFromExpirationInput": {
            "type": "structure",
            "members": {
                "Bucket": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "Key": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "VersionId": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#httpQuery": "versionId"
                    }
                }
            }
        },
        "com.scality.backbeat#DeleteObjectFromExpirationOutput": {
            "type": "structure",
            "members": {
                "versionId": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "Version ID of the deleted object"
                    }
                }
            }
        },
        "com.scality.backbeat#EncodingType": {
            "type": "string",
            "traits": {
                "smithy.api#documentation": "Encoding type string with allowed values"
            }
        },
        "com.scality.backbeat#ExpirationConfiguration": {
            "type": "structure",
            "members": {
                "Days": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#documentation": "Number of days after which the object expires"
                    }
                }
            }
        },
        "com.scality.backbeat#GetBucketCseq": {
            "type": "operation",
            "input": {
                "target": "com.scality.backbeat#GetBucketCseqInput"
            },
            "output": {
                "target": "com.scality.backbeat#GetBucketCseqOutput"
            },
            "traits": {
                "smithy.api#documentation": "Retrieves bucket sequence information",
                "smithy.api#http": {
                    "method": "GET",
                    "uri": "/_/metadata/default/informations/{Bucket}"
                },
                "smithy.api#readonly": {}
            }
        },
        "com.scality.backbeat#GetBucketCseqInput": {
            "type": "structure",
            "members": {
                "Bucket": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
[...]
