{
    "extends": "scality",
    "parserOptions": {
      "ecmaFeatures": {
          "experimentalObjectRestSpread": true
      },
      "ecmaVersion": 6
    },
    "settings": {
        "import/resolver": {
          "node": {
            "paths": ["/backbeat/node_modules", "node_modules"]
          }
        }
      }
}
