{
    "all": true,
    "include": [
        "bin/**/*.js",
        "bin/**/*.ts",
        "lib/**/*.js",
        "lib/**/*.ts",
        "extensions/**/*.js",
        "extensions/**/*.ts"
    ],
    "exclude": [
        "**/*.spec.js",
        "**/*.spec.ts"
    ]
}