---
apiVersion: v1
kind: Pod
metadata:
  name: worker
spec:
  containers:
    - name: build-worker
      image: "{{ images.worker }}"
      resources:
        requests:
          cpu: "250m"
          memory: 1Gi
        limits:
          cpu: "1"
          memory: 1Gi
      env:
        - name: DOCKER_HOST
          value: localhost:2375
      volumeMounts:
        - name: worker-workspace
          mountPath: /home/eve/workspace
    - name: dind-daemon
      image: docker:20.10.8-dind
      resources:
        requests:
          cpu: "1"
          memory: 1Gi
        limits:
          cpu: "2"
          memory: 1Gi
      env:
        - name: DOCKER_TLS_CERTDIR
          value: ''
      securityContext:
        privileged: true
      volumeMounts:
        - name: docker-storage
          mountPath: /var/lib/docker
        - name: worker-workspace
          mountPath: /home/eve/workspace
  volumes:
    - name: docker-storage
      emptyDir: {}
    - name: worker-workspace
      emptyDir: {}
