---
name: docker-build

on:
  push:
    branches-ignore:
    - development/**
    - q/*/**

env:
  REGISTRY_NAME: registry.scality.com
  PROJECT_NAME: ${{ github.event.repository.name }}

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up Docker Buildk
        uses: docker/setup-buildx-action@v1

      - name: Login to Registry
        uses: docker/login-action@v1
        with:
          registry: ${{ env.REGISTRY_NAME }}
          username: ${{ secrets.REGISTRY_LOGIN }}
          password: ${{ secrets.REGISTRY_PASSWORD }}

      - name: Build and push
        uses: docker/build-push-action@v2
        with:
          context: .
          push: true
          tags: ${{ env.REGISTRY_NAME }}/${{ env.PROJECT_NAME }}-dev/${{ env.PROJECT_NAME }}:${{ github.sha }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Push dashboards to the development namespace
        run: |
          oras push ${{ env.REGISTRY_NAME }}/${{ env.PROJECT_NAME }}-dev/${{ env.PROJECT_NAME }}-dashboards:${{ github.sha }} \
            ingestion/ingestion-processor-dashboard.json:application/grafana-dashboard+json \
            ingestion/ingestion-producer-dashboard.json:application/grafana-dashboard+json \
            ingestion/ingestion-global-dashboard.json:application/grafana-dashboard+json \
            ingestion/ingestion-processor-alert.yaml:application/prometheus-alerts+yaml \
            ingestion/ingestion-producer-alert.yaml:application/prometheus-alerts+yaml \
            lifecycle/dashboard.json:application/grafana-dashboard+json \
            lifecycle/alerts.yaml:application/prometheus-alerts+yaml \
            cold-storage/dashboard.json:application/grafana-dashboard+json \
            replication/dashboard.json:application/grafana-dashboard+json \
            replication/alerts.yaml:application/prometheus-alerts+yaml \
            notification/dashboard.json:application/grafana-dashboard+json \
            notification/alerts.yaml:application/prometheus-alerts+yaml \
            oplog-populator/dashboard.json:application/grafana-dashboard+json \
            oplog-populator/alerts.yaml:application/prometheus-alerts+yaml
        working-directory: monitoring

      - name: Push policies into the development namespace
        run: |
          oras push ${{ env.REGISTRY_NAME }}/${{ env.PROJECT_NAME }}-dev/${{ env.PROJECT_NAME }}-policies:${{ github.sha }} \
            extensions/lifecycle/conductor/policy.json:application/vnd.iam-policy+json \
            extensions/lifecycle/bucketProcessor/policy.json:application/vnd.iam-policy+json \
            extensions/lifecycle/objectProcessor/policy.json:application/vnd.iam-policy+json \
            extensions/lifecycle/objectProcessor/policy_transition.json:application/vnd.iam-policy+json \
            extensions/gc/policy.json:application/vnd.iam-policy+json \
            policies/queue_populator_policy.json:application/vnd.iam-policy+json
